body {
    background: #f0f2f5 !important;
    font-size: 15px;
}

.CodeMirror .CodeMirror-code .cm-comment {
    background: none !important;
}

a {
  text-decoration: none !important;
}



.panel-heading {
    color: #636b6f !important;
}

.navbar-header a {
    line-height: 40px !important;
    font-size: 25px !important;
}
.nav > li > a {
    line-height: 40px !important;
    font-size: 18px !important;
}

input:focus,input:active {
    outline: none !important;
}

.navbar-form {
    padding-top: 10px;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    text-align: center;
    font-weight: bold;
}


.right-list-image {
    width: 60px;
}

.home-list-image {
    height: 180px;
}

.panel-heading h4 {
    font-weight: bold !important;
}

.home-list-avatar {
    width: 30px;
    float: left;
    margin-right: 10px;
    margin-top: 7px;
}



.icon-camera-retro {
    position: absolute;
    left: 50%;
    top: 10%;
    zoom: 2.5;

}



.book-create-title input {
    border: none;
    outline: none;
    width: 100%;
    border-bottom: 1px solid #999999;

    font-size: 22px;
}


.notice {
    font-weight: bold;
    color: #d6514d !important
}



.tags>a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    margin: 0 5px 5px 0;
    border-radius: 3px;
    transition: all .5s;
    -webkit-transition: all .5s;
}
.tags>a:hover {
    background: #666 !important;
}
.tags>a:nth-of-type(4n+0) {
    background: #337AB7;
}
.tags>a:nth-of-type(4n-1) {
    background: #5CB85C;
}
.tags>a:nth-of-type(4n-2) {
    background: #5BC0DE;
}
.tags>a:nth-of-type(4n-3) {
    background: #F0AD4E;
}

.WriteCover-wrapper {
    background: #f7f8f9;
    line-height: 192px;
    color: gray;
    min-height: 192px;
    text-align: center;
}

.WriteCover-previewWrapper {
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.WriteCover-uploadInput {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}





/*用户中心样式*/

.user-avatar-box {
    width: 110px;
    height: 110px;
    line-height: 110px;
    font-size: 65px;
    text-align: center;
    margin: 10px 2px;
    cursor: pointer;
}

.user-avatar {
    width: 110px;
    height: 110px;
    border-radius: 110px;
}

.user-name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 12px;
    margin-top: 15px;
}
.user-sex {
    margin-left: 13px;
    font-size: 20px;
}

.sex {
    margin-top: 15px;
    font-size: 20px;
}
.user-info {

    text-align: center;
}

.user-info span {
    color: #d6514d !important;
    font-size: 28px;
    display: block;

}

.user-info a {
    color: inherit;
}

.list-group > a > li {
    border: none !important;
    border-bottom: 1px solid #f2f2f2 !important;
}

.user-link-list > a {
    text-align: center;
    color: inherit;
    text-decoration: none;
}

.user-link-list > a :hover {
    color: #2a88bd;
}

.user-book-list-avatar {
    width: 45px;
    border-radius: 45px;
}


.read-now {
   position: relative;
   bottom: -10px;
}

.book-image-thumb {
    width: 180px;
    zoom: 0.7;
}

.not-have-box {
    text-align: center;
}


.user-book-list-info h3 {
    margin-top: 10px !important;
}





/*
 book l
*/

.book-list-button {
    position: relative;
    bottom: -6px;
}


.show-user-avatar {
    width: 90px;
    height: 90px;
    border-radius: 90px;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
}



/*
chapter list
 */

.chapter-list {
    margin-bottom: 10px !important;
    padding-bottom: 0 !important;
}

.chapter-list-user-avatar {
    width: 70px;
    margin-right: 5px;
    text-align: center;
    line-height: 70px;
    font-size: 40px;
}

.chapter-list-title {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.chapter-list .col-md-11 {
    padding-left: 35px;
}


.chapter-list .help-block {
    margin-bottom: 0 !important;
}

hr {
    margin: 5px 0 !important;
}

.chapter-list a:hover {
    color: #2a88bd !important;
}



h4 > a {
    color: inherit;
}

h4 > a:hover{
    color: inherit;
}


a > li {
    color: #636b6f !important;
}


.show-left-bar {
    text-align: center !important;
}

.book-profile .list-group-item > a {
    color: inherit;
}

.book-profile .list-group-item >a:hover {
    text-decoration: underline !important;
}

.book-profile .list-group-item {
    border: none !important;

    border-bottom: 2px solid #f2f2f2 !important;
}

.book-list .col-md-11 {
    padding-left: 40px;
}

.book-list .panel-heading a:hover{
    color: #2a88bd;
}

.book-list .thumbnail {
    margin-bottom: 0 !important;
}

.book-list .btn {
    position: absolute;
    right: 10px;
    bottom: 0;
}
.book-list .tags {
    margin-bottom: 8px;
}

.book-list .help-block {
    margin-bottom: -5px !important;
}

.book-list-thumb {
    width: 70px;
    height: 70px;
}

.show-h2 {
    font-size: 26px !important;
    line-height: 46px !important;
    padding-left: 10px !important;
    margin-top: 11px !important;
}

.book-extention-info {
    margin-top: 25px;
}

/**
评论
 */

.comment-list .user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}

/**
点赞操作
 */

.like {
    text-align: center;
    cursor: pointer;
}

.like .btn{
    margin: 10px  auto  20px;
}


.like-avatar-list {
    margin: 0 auto;
    line-height: inherit;
}

.like-avatar-list div {
    display: inline-block !important;
}

.like-avatar-list div img{

    width: 65px !important;
    height: 65px !important;


}

.like-avatar-list div p{

    width: 65px !important;
    height: 65px !important;

    font-size: 37px;


}

.like-avatar-list .not-image {
    position: relative;
    top: -18px;
}

.like-avatar-list .thumbnail {
    margin-bottom: 0 !important;
}
